{% extends 'layout.html' %}

{% block body %}
<main>
  <div style="text-align: center; font-family: Calibri;color: #607d8b"></div>
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <form method="POST" action="/post_new_question">
                <div class="row" style="text-align: left;">
                  <div class="col s3"></div>
                    <div class="col s6">
                      <div class="input-field col s12">
                        <input value = {{title}} id = 'qtitle' name = 'qtitle' type = 'text' class = 'validate' readonly>
                        <label class="active" for="qtitle">Title</label>
                      </div><br>
                      <div class="input-field col s12">
                        <input value = {{body}} id = 'qbody' name = 'qbody' type = 'text' class = 'validate' readonly>
                        <label class="active" for="qbody">Body</label>
                      </div><br>
                      <div class="input-field col s12">
                        <input value = {{tags_list}} id = 'qtags' name = 'qtags' type = 'text' class = 'validate' readonly>
                        <label class="active" for="qtags">Tags</label>
                      </div><br>
                      <div style = 'text-align: center;'>
                        <button type = "submit" class = "btn btn-primary">
                          Confirm to post
                        </button>
                      </div>
                    </div>
                    <div class="col s3"></div>
                </div>
              </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  <div class="container">
    <div class="content">
      <a name="datasource_jsonp"></a>
      <h4>Similar questions</h4>
      <hr>
      <div class="data-container" style="min-height: 175px" id="demo1">
        <ul>
          {% for question in similar_questions %}
            <div class = 'card-panel'>
              <li>
                <a href = '/question_details?question_id={{question.Id}}'>{{question.Title}}</a>
              </li>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/template" id="template-demo3">
        <div class="data-container"></div>
        <pre><code>$('#demo').pagination({
    dataSource: 'https://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?',
    locator: 'items',
    totalNumber: 120,
    pageSize: 20,
    ajax: {
        beforeSend: function() {
            dataContainer.html('Loading data from flickr.com ...');
        }
    },
    callback: function(data, pagination) {
        // template method of yourself
        var html = template(data);
        dataContainer.html(html);
    }
})</code></pre>
    </script>
  </div>

{% endblock %}