{% extends 'layout.html' %}

{% block body %}
<main>
  <div style="text-align: center; font-family: Calibri;color: #607d8b"></div>
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <form method="POST" action="/post_new_question">
                <div class="row" style="text-align: center;">
                  <div class="col s3"></div>
                    <div class="col s6">
                      <!-- <button class="btn blue darken-1 waves-effect waves-light" type="submit" formaction="/home" name="action">confirm to post
                        <i class="material-icons right">send</i>
                      </button> -->
                      <button type = "submit" class = "btn btn-primary">
                        Confirm to post
                      </button>
                      {{id}}
                      <input value = {{title}} id = 'qtitle' style = 'visibility: hidden;' name = 'qtitle'>
                      <input value = {{body}} id = 'qbody' style = 'visibility: hidden;' name = 'qbody'>
                      <input value = {{tags_list}} id = 'qtags' style = 'visibility: hidden;' name = 'qtags'>
                    </div>
                    <div class="col s3"></div>
                </div>
              </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  <div class="container">
    <div class="content">
      <a name="datasource_jsonp"></a>
      <h4>Similar questions</h4>
      <hr>
      <div class="data-container" style="min-height: 175px" id="demo1">
        <ul>
          {% for question in id_list %}
            <div class = 'card-panel'>
              <li>
                <a href = '/question_details?question_id={{question.Id}}'>{{question.Title}}</a>
              </li>
            </div>
          {% endfor %}
        </ul>
      </div>
      <!-- <div class="paginationjs paginationjs-big">
        <div class="paginationjs-pages">
          <ul>
            <li class="paginationjs-prev disabled">
              <a><<</a>
            </li>
            <li class="paginationjs-page J-paginationjs-page active" data-num="1">
              <a>1</a>
            </li>
            <li class="paginationjs-page J-paginationjs-page" data-num="2">
              <a href="#">2</a>
            </li>
            <li class="paginationjs-page J-paginationjs-page" data-num="3">
              <a href="#">3</a>
            </li>
            <li class="paginationjs-page J-paginationjs-page" data-num="4">
              <a href="#">4</a>
            </li>
            <li class="paginationjs-page J-paginationjs-next" data-num="2" title="Next page">
              <a href="#">>></a>
            </li>
          </ul>
        </div>  
      </div> -->
    </div>
    <!-- <nav aria-label="">   this is pagination related part
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/template" id="template-demo3">
        <div class="data-container"></div>
        <pre><code>$('#demo').pagination({
    dataSource: 'https://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?',
    locator: 'items',
    totalNumber: 120,
    pageSize: 20,
    ajax: {
        beforeSend: function() {
            dataContainer.html('Loading data from flickr.com ...');
        }
    },
    callback: function(data, pagination) {
        // template method of yourself
        var html = template(data);
        dataContainer.html(html);
    }
})</code></pre>
    </script>
  </div>

{% endblock %}