{% extends "layout.html" %}

{% block body %}
<div class = 'container'>
    <div>
        <h4>{{question.Title}}</h4>
        {{question.Body}}<br><br>
        <span class="grey-text">
            Posted 
            by 
            <span class="blue-text">
                {{question.Question_User.EmailId}}
            </span>
            on {{question.created_at}}
        </span>
        {{question.VoteCount}}
        <button type = "button" class="btn-floating">
            <i class="material-icons">thumb_up</i>
        </button>
        <button type = "button" class="btn-floating">
            <i class="material-icons">thumb_down</i>
        </button><br>
    </div>
        <h5>Answers</h5>
    {% for answer in question.Question_Answers %}
    <div class = 'card-panel'>
        <span class="grey-text">
            Posted
            by 
            <span class="blue-text">
                {{answer.Answer_User.EmailId}}
            </span>
            on {{answer.created_at}}
        </span>
        {{answer.VoteCount}}
        <button type = "button" class="btn-floating">
            <i class="material-icons">thumb_up</i>
        </button>
        <button type = "button" class="btn-floating">
            <i class="material-icons">thumb_down</i>
        </button><br>
        {{answer.Body}}<br>
    </div>
    {% endfor %}
    <div class = "well bs-component">
        <form class = "form-horizontal" method = "POST" action = "/post_new_answer">
            <fieldset>
                <div class = "form-group">
                    <label for = "new_answer" class = "col-lg-2 control-label">
                        Post your answer
                    </label>
                    <div class = "col-lg-10">
                        <textarea name = "aBody" id = "editor" style = "height:100%; margin-top:5%"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <div class = "col-lg-10 col-lg-offset-2">
                        <button type = "submit" class = "btn btn-primary">
                            Post
                        </button>
                    </div>
                </div>
                <input value = {{question.Id}} id = 'qId' style = 'visibility: hidden;' name = 'qId'>
            </fieldset>
        </form>
    </div>
      
</div>
{% endblock %}