{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="content">
      <a name="datasource_jsonp"></a>
      <h4>Searched Questions</h4>
      <hr>
      <div class="data-container" style="min-height: 175px" id="demo1">
        <ul>
          {% for question in id_list %}
            <div class = 'card-panel'>
              <li>
                <a href = '/question_details?question_id={{question.Id}}'>{{question.Title}}</a>
              </li>
            </div>
          {% endfor %}
        </ul>
      </div>
  </div>

{% endblock %}